/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap"); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root{
    --medium: 700;
  --regular: 400;
  --thin: 300;
}
body{
    width: 1000vw;
    max-width: 100%;
}
.nav{
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    /* border: red solid; */
    
}
.menu-toggle {
    display: none;
 }
.menu-toggle:checked ~ .toggle {
    display: block;
  }
  
.menu-toggle:checked ~ .toggle {
    display: block;
  }

  
.logo{
    color: aqua;
    margin: 10px;
    height: 50px;
    width: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
}
ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    margin: 10px;
    
}
a{
    text-decoration: none;
}


 .landing-cotainer{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    /* border: solid red; */
    margin: 1rem;
    background-color: white;
    box-shadow: 2px 5px 5px red;
    border-radius: 5px;
} 
.principal{
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* border: solid red; */
    margin: 2rem 1rem;
    
}
.landing-cotainer img{
    border-radius: 5px;
    width: 40%;
    height: 40%;
    margin: 1rem;
}
.btns{
    display: flex;
    flex-direction: center;
    justify-content: center;
    border-radius: 3px solid;
    /* width: 200px;
    height: 50px; */
    /* border: red solid; */
    gap: 0.2%;
    /* border:solid red; */
    
    
}
.btn-1{
    background-color: blue;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5%;
    padding: 1%;
    text-align: center;
    
    width: 50%;
  
}
.btn-2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    padding: 5px;
    border-radius: 20px;
    color: black;
    /* text-transform: uppercase; */
    border: solid black;
    box-shadow: 2px 2px 2px;
    text-align: center;
    width: 50%;
    
}
.slogan{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.info{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    /* border: solid red; */
    margin: 1rem;
    background-color: white;
    box-shadow: 2px 5px 5px red;
    border-radius: 5px;
}
.tittle{
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue; ;
    text-transform: uppercase;
}
.ejercicio3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: white;
    box-shadow: 2px 5px 5px red;
    border-radius: 5px;
    gap:1rem;
}
.ejer3{
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.ejercicio3 p{
    max-width: 70%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: var(--regular);
}
.conteiner-ficha{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: salmon; */
    gap: 2rem;
}

.ficha{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    gap: 1rem;
    padding: 1rem 0 2rem;
}
.ficha h2{
    text-transform: uppercase;
    text-align: center;
}
.ficha p{
    text-align: center;
}
.section-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: white;
    box-shadow: 2px 5px 5px red;
    border-radius: 5px;
    gap:1rem;
    max-width: 100%;
}
.section3 img{
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
.section-3 h2{
    text-transform: uppercase;
}
.section3 h2{
    text-transform: uppercase;
    /* background-color: blue; */
    
}
.section3{
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin: 0 auto; */
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
  
    }
.section3 p{
    font-family:"Poppins", sans-serif;
    font-size: var(--medium);
    max-width: 50%;
    
}
.conteiner-section3{
    /* max-width: 90%; */
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
    gap: 1rem;
    /* flex-wrap: wrap; */

}
/* our clients */
.ejercicio4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: white;
    box-shadow: 2px 5px 5px red;
    border-radius: 5px;
    gap:1rem;
}
.ejercicio4 h2{
    text-transform: uppercase;
    text-align: center;
    font-family: sans-serif;
    font-size:900;
}
.ejercicio4 p{
    text-align: center;
    font-family: sans-serif;
    font-size: var(--regular);
    margin: 2rem;
}
.companies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    /* width: 50%;
    max-width: 200px;
    background-color: aqua;
    border: solid red; */
}
.companies img{
    /* border: solid red; */
    /* size: 80%; */
    /* max-width: 150px; */
    /* max-height: 100px; */
}

.nombre{
    display: none;
}
.contacto-container{
    background-color: blueviolet;
    color: white;
    font-family: sans-serif;
    font-size: var(--medium);
    display: flex;
    flex-direction: column;
}
.contacto {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.container-redes {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aliceblue; */
   
}
.redes{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    gap: 3rem;
    font-size: large;
    

}
.redes i{
    
}
@media (max-width: 1000px) {
    
    .toggle{
        display: none;
    }
    .menu-toggle {
        display: contents;
        
        
     }
    .nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-between;
        background-color: tomato;
    } 
    .menu-toggle i{
        margin: 0rem 2rem;
    }
    .landing-cotainer img{
        display: none;
    }
}
@media (min-width:1000px) {
    .conteiner-ficha{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        /* background-color: salmon; */
        gap: 2rem;
        }
    .conteiner-section3{
        flex-direction: row;
        width: 100%;
        justify-content: baseline;
        /* margin-right: 2rem; */
        justify-content: space-between;
        /* background-color: aqua; */
    }
    .items-link{
        position: relative;
    }
    .nav .items-link::after{
        content: "";
        height: 3px;
        background-color: white;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.15s ease;
      }
    
       .nav .items-link:hover::after{
         transform-origin: bottom left;
         transform: scaleX(1);
       } 
       .companies{
           flex-direction: row;
           margin-bottom: 2rem;
           justify-content: space-between;

       }
       .companies img:hover > #nombre {

           display: contents;

       }
       
    
   

    }
