/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap"); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.nav{
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    /* border: red solid; */
    
}
.menu-toggle {
    display: none;
 }
.menu-toggle:checked ~ .toggle {
    display: block;
  }
  
.menu-toggle:checked ~ .toggle {
    display: block;
  }

  
.logo{
    color: aqua;
    margin: 10px;
    height: 50px;
    width: 50px;
    font-size: 30px;
    display: flex;
    align-items: center;
}
ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    margin: 10px;
    
}
a{
    text-decoration: none;
}
body{
    width: 100vw;
    background-color: blue;
    max-width: 100%;
    /* font-family: "Poppins", sans-serif; */
    
    
    /* border: solid red; */
}

 .landing-cotainer{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    /* border: solid red; */
    margin: 1rem;
    background-color: white;
    box-shadow: 2px 5px 5px red;
    border-radius: 5px;
} 
.principal{
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* border: solid red; */
    margin: 2rem 1rem;
    
}
.landing-cotainer img{
    border-radius: 5px;
    width: 40%;
    height: 40%;
    margin: 1rem;
}
.btns{
    display: flex;
    flex-direction: center;
    justify-content: center;
    border-radius: 3px solid;
    /* width: 200px;
    height: 50px; */
    /* border: red solid; */
    gap: 0.2%;
    /* border:solid red; */
    
    
}
.btn-1{
    background-color: blue;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5%;
    padding: 1%;
    text-align: center;
    
    width: 50%;
  
}
.btn-2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    padding: 5px;
    border-radius: 20px;
    color: black;
    /* text-transform: uppercase; */
    border: solid black;
    box-shadow: 2px 2px 2px;
    text-align: center;
    width: 50%;
    
}
.slogan{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue; ;
}
.info{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    /* border: solid red; */
    margin: 1rem;
    background-color: white;
    box-shadow: 2px 5px 5px red;
    border-radius: 5px;
}
.info h2{
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue; ;
    text-transform: uppercase;
}

@media (max-width: 300px) {
    
    .toggle{
        display: none;
    }
    .menu-toggle {
        display: contents;
        
        
     }
    .nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-between;
    } 
    .menu-toggle i{
        margin: 0rem 2rem;
    }
    .landing-cotainer img{
        display: none;
    }
}